body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}
.button_num {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgb(26, 11, 11);
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 45vh;
    max-height: 250px;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}
.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 15px 0;
}

.question-area span {
    padding: 0 15px;

}
.explanation {
    width: 50%;
    font-size: 1rem;
    margin: auto;
    padding: 50px 0;
    text-align: left;
}
.instruction {
    width: 80%;
    font-size: 150%;
    margin: 3px 3px 3px 3px;
    border: 2px;
    padding: 3px 3px 3px 30px;
}
.expl_game {
    width:100%;
    margin: 4px 4px 4px 4px;
    padding: 3px 2px 2px 2px;
    font-size: 120%;
}
.score-area {
    width: 100%;
    margin: auto;
    width: 60%;
    font-size: 1.2rem;
}
.score-area p {
    display:inline-block;
    margin: 5px 30px;
    padding: 5px;
}
#score {
    color: green;
    font-weight: bold;
    display:inline-block;
}

#incorrect {
    color: red;
    font-weight: bold;
    display: inline-block;
}
@media screen and (max-width:640px), screen and (min-width:640px) {
    .game-area {
        height: 40vh;
    }
    .heading {
        font-size: 2rem;
    }
    .score-area p{
         
    }
}